{% extends 'app_city/base.html' %}

{% block City_Contacts %}
  <h2>City contacts</h2><br>
  <br>

      <h3>Contacts</h3>
  <br>
  <p>Address: 620014, Ekaterinburg, Lenin Ave., 24a. <br>
     Telephone number for round-the-clock reception of citizens' <br>
     requests: +7 (343) 382-45-28 (attention! calls may be charged by mobile operators).<br>
     Fax: +7 (343) 304-34-31, Email: glava@ekadm.ru <br>
     Official page of the Yekaterinburg City Administration https://vk.com/ekadm <br>
   </p>

{% endblock %}