{% extends 'app_city/base.html' %}

{% block City_History %}
  <h2>City history</h2><br>
  <br>

      <h3>History of our city</h3>
  <br>
<p>History of the emergence of Yekaterinburg <br>
    The history of Yekaterinburg dates back to 1723, <br>
    when a fortress factory was founded on the Iset River. <br>
    The site for the plant was chosen by Vasily Tatishchev, <br>
    the construction of the largest ironworks in Europe was completed <br>
    under the leadership of Wilhelm de Gennin. <br>
    The city is named after Empress Catherine I.

   </p>

{% endblock %}