{% extends 'app_city/base.html' %}

{% block City_Management %}
  <h2>City Management</h2><br>
  <br>

      <h3>Management of our city</h3>
  <br>
        <p>
           Deputy Heads of Yekaterinburg First Deputy Head of Yekaterinburg <br>
            Sutyagin Igor Evgenievich Deputy Head of Yekaterinburg <br>
            Bubnov Alexey Eduardovich <br>
            Deputy Head of Yekaterinburg <br>
            Galyamov Rustam Akhmedovich <br>
            Deputy Head of Yekaterinburg <br>

        </p>
{% endblock %}